.main
  width 80%
  margin 0 auto
  margin-top 20px

.icon-xiai
  color #aaa
  font-size 12px
.icon-xiai.liked
 color #ff0033

#account-goals.main,
#dreams-wall.main
  .wrapper
    clear both
    display block
    overflow hidden

  .title
    height 18px
    font-size 36px
    border-bottom 1px solid #aaa
    margin-top 40px
    margin-bottom 40px
    span
      background #eee
      padding-right 30px

  .cards-container.normal-card
    overflow hidden
    background-position center center
    transition-duration 0.25s
    width 245px
    height 146px
    &:hover
      transform translate3d(0,-4px,0px)
      box-shadow 3px 3px 10px #aaa

    .card
      display block
      position relative
      transition-duration 0.25s
      background rgba(0,0,0,0.0)
      height 100%
      &:hover
        background rgba(0,0,0,0.5)
      &:hover .card-like
        opacity 1
      &:hover .card-author
        opacity 1
      .card-title
        color #fff
        padding 15px
        font-size 18px
        text-overflow ellipsis
        text-shadow 0px 0px 3px #111
      .card-like
        transition-duration 0.25s
        opacity 0
        color #fff
        right 15px
        bottom 15px
        font-weight bold
        position absolute
      .card-author
        transition-duration 0.25s
        font-size 14px
        opacity 0
        position absolute
        left 10px
        bottom 10px
        line-height 25px
        img.avatar
          margin-right 4px
          float left
          width 25px
          height 25px
          border-radius 25px

  .cards-container
    float left
    margin 20px
    margin-left 0px
    border-radius 8px
    img
      width 250px
      height 150px
      border-radius 8px

  .cards-container.create-card
    width 246px
    height 146px
    border-radius 8px
    border 2px dashed #aaa;

    &:hover .card
      color #aaa

    .card
      display block
      cursor pointer
      color #ccc
      font-size 100px
      line-height 125px
      text-align center

#account-goal.main
  padding-top 40px
  .goal
    position absolute
    box-shadow 1px 1px 9px #ddd
    .banner-image
      background-color #666
      background-position center
      position relative
      background-repeat no-repeat
      margin 0
      width 350px
      height 170px
      .avatar
        background-size 100% 100%
        width 90px
        height 90px
        border-radius 90px
        border 3px solid rgba(255,255,255,0.7)
        display block
        position absolute
        bottom -25px
        left 130px
    .goal-info
      margin 0
      width 350px
      background #fff
      padding-bottom 20px
      .title
        padding 40px 30px 0 30px
        font-size 18px
        font-weight bold
      .state-like
        padding 10px 30px
        .state
          font-size 14px
          color #aaa
        .like
          color #aaa
          font-size 14px
          margin-left 40px
     .goal-description
        font-size 14px
        padding 10px 30px
        color #333
    .btn-group
      padding-top 16px
      .btn
        margin 0 10px

  .activity-container
    margin-left 380px
    .create-activity
      box-shadow 1px 1px 9px #ddd
      background #fff
      padding 10px
      margin-bottom 20px
      span.title
        color #333
        line-height 29px
      textarea
        width 100%
        resize none
        height 120px
        box-sizing border-box
        border 1px solid #ddd
        padding 10px
      .tool
        margin-top 10px
        overflow hidden
        a
          color #666
          padding 0 20px
          line-height 40px
        #preview
          border none
          max-width 80px
          max-height 50px
        .icon-tuwenxiangqing
          color #0dadb7
          &:before
            font-size 24px

    .activities
      .activity
        box-shadow 1px 1px 9px #ddd
        font-size 16px
        margin-bottom 20px
        padding 16px
        background #fff

      .activity-image
        margin 10px 0
        img
          width 150px
          height 150px
      .tools
        font-size 14px
        margin-top 10px
        color #999
        a
          color #999

#mask
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 1
  background rgba(0,0,0,0.6)

#createGoal
  position fixed
  top 50%
  left 50%
  width 600px
  height 560px
  padding 20px
  margin-top -300px
  margin-left -300px
  background #fff
  z-index 500
  border-radius 6px
  overflow hidden

  h2
    color #888
    margin 0
    padding 0
    padding-bottom 10px
    border-bottom 1px solid #ccc

  h3
    color #999
    margin-top 18px
    margin-bottom 10px

  input, textarea
    margin-bottom 12px
  textarea[name="description"]
    height 6em

  .pics
    position relative
    height 110px
    .pic
      border 2px solid transparent
      position absolute
      height 96px
      width 176px
      overflow hidden
      img
        border none
        width 100%
        height 100%

    .pic-selected:not(#createGoalChoosePicBtn)
      border 2px solid #0dadb7
      box-shadow 0px 0px 10px #999
      height 96px
      width 176px
      span
        top -10px
        left -10px
        color #fff
        text-align center
        line-height 46px
        font-size 24px
        position absolute
        background #0dadb7
        display block
        height 40px
        width 40px;
        border-radius 40px

    #createGoalChoosePicBtn.pic-selected
      border 2px solid #0dadb7
      transition-duration 0.25s
      opacity 0
      &:hover
        opacity 1
        background rgba(0,0,0,0.7)

    .pic-left
      left 0

    .pic-right
      right 0

    .pic-middle
      left 50%
      margin-left -90px

  .btn-group
    margin-top 20px
    a#createCancelBtn
      color #999
      font-size 14px
      padding 20px
      font-weight bold

  #createGoalChoosePicBtn
    border 2px solid #ddd
    height 96px
    width 176px
    cursor pointer
    color #ccc
    text-align center
    p
      margin 0
      font-size 60px
      padding-top 30px
      padding-bottom 10px
      line-height 20px
    span
      letter-spacing 8px

#chasers.main
  .wrapper
    clear both
    display block
    overflow hidden

    ul.chasers
      li a
        transition-duration 0.25s
        color #333
        overflow hidden
        padding 16px
        margin-top 20px
        margin-bottom 10px
        margin-right 20px
        width 200px
        float left
        background #fff
        border-radius 8px
        border 1px solid #aaa
        .chaser
          text-align center
          .avatar
            padding-top 10px
            img
              width 80px
              height 80px
              border-radius 80px
          .username
            font-size 18px
            padding 8px
            color #0dadb7
          .whatsup
            font-size 14px
            border-bottom 1px solid #aaa
            padding-bottom 8px
        .scores
          margin-top 20px
          div
            display inline-block
            width 30%
            span
              color #0dadb7
              line-height 2em
              font-size 20px
          .right-line
            border-right 1px solid #aaa
        &:hover
          transform translate3d(0,-4px,0px)
          box-shadow 3px 3px 10px #ccc
