{% extends 'layout.html' %}

{%- block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/account/goals.css') }}" type="text/css" />
{%- endblock %}

{%- block main %}
<div id="header">
  <div id="logo"></div>
  <div class="nav">
    <ul>
      <li class="my-goal"><i class="iconfont icon-profile"></i><a href="#">{{ _('My Goals') }}</a></li>
      <li class="chasers"><i class="iconfont icon-chaser"></i><a href="#">{{ _('Chasers') }}</a></li>
      <li class="goals"><i class="iconfont icon-dream"></i><a href="#">{{ _('Dreams Wall') }}</a></li>
    </ul>
  </div>
  <div class="profile">
    <div class="avatar">
      <img src="{{ current_user.avatar_url }}"/>
    </div>
    <div class="info">
      {{ current_user.username }}
      <i class="iconfont icon-small icon-unfold"></i>
      <ul>
        <li><i class="iconfont icon-setting"></i> 设置</li>
        <li><i class="iconfont icon-msg"></i> 消息</li>
        <li><i class="iconfont icon-signout"></i> 退出</li>
      </ul>
    </div>
  </div>
</div>

<div class="main">

  <div class="wrapper">
    <div class="title"><span>{{ _('Chasing') }}</span></div>
    <ul>
      <li class="cards-container normal-card" style="background-image: url(https://mailimg.teambition.com/logos/cover-internet.jpg)">
        <div class="card">
          <img src="https://mailimg.teambition.com/logos/cover-internet.jpg" /> 
        </div>
      </li>
      <li class="cards-container normal-card" style="background-image: url(https://mailimg.teambition.com/logos/cover-internet.jpg)">
        <div class="card">
          <img src="https://mailimg.teambition.com/logos/cover-internet.jpg" /> 
        </div>
      </li>
      <li class="cards-container create-card">
        <a href="{{ url_for('goal.create') }}" class="card">+</a>
      </li>
    </ul>
  </div>

  <div class="wrapper">
    <div class="title"><span>{{ _('Completed') }}</span></div>
    <ul>
      <li class="cards-container normal-card" style="background-image: url(https://mailimg.teambition.com/logos/cover-internet.jpg)">
        <div class="card">
        </div>
      </li>
      <li class="cards-container normal-card" style="background-image: url(https://mailimg.teambition.com/logos/cover-internet.jpg)">
        <div class="card">
          <img src="https://mailimg.teambition.com/logos/cover-internet.jpg" /> 
        </div>
      </li>
      <li class="cards-container create-card">
        <a href="{{ url_for('goal.create') }}" class="card">+</a>
      </li>
    </ul>
  </div>

</div>
{%- endblock %}
