{% extends 'layout.html' %}

{%- block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/account/goals.css') }}" type="text/css" />
{%- endblock %}

{%- block main %}
<div class="main" id="account-goals">
  <div class="wrapper">
    <div class="title"><span>{{ _('Chasing') }}</span></div>
    <ul>
      {% for each in charsing_goals %}
      <li class="cards-container normal-card" style="background-image: url('{{each.image.get_thumbnail_limit_width(250)}}')">
        <a class="card" href="{{ url_for('account.goal', gid=each.id) }}">
          <div class="card-title">{{ each.title }}</div>
          <div class="card-like"><i class="iconfont icon-small icon-xiai"></i> {{ each.like_count }}</div>
        </a>
      </li>
      {% endfor %}
      <li class="cards-container create-card">
        <a href="{{ url_for('goal.create') }}" class="card">+</a>
      </li>
    </ul>
  </div>
  {% if completed_goals %}
  <div class="wrapper">
    <div class="title"><span>{{ _('Completed') }}</span></div>
    <ul>
      {% for each in completed_goals %}
      <li class="cards-container normal-card" style="background-image: url('{{each.image.get_thumbnail_limit_width(250)}}')">
        <div class="card">
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{%- endblock %}
