{%- extends 'layout.html' %}

{%- block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/account/messages.css') }}" type="text/css" />
{%- endblock %}

{%- block main %}
<div class="wrapper" id="message-container">
  <h2>{{ _('My Messages') }}</h2>
  <ul>
    {% for each in pagination.items %}
    <li>
      <div class="avatar"><img src="{{ url_for('static', filename='images/favicon.png') }}" /></div>
      <div class="content">
        <p>{{ each.content }}</p>
        <span class="time">{{ each.created | format_datetime('Y年M月d日 HH:mm:ss') }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination">
      {%- if pagination.has_prev %}
      <a href="{{ url_for('account.messages', page=pagination.prev_num) }}">{{ _('Prev Page') }}</a>
      {%- endif %}
      <span class="pages">{{ page }} / {{ pagination.pages }}</span>
      {%- if pagination.has_next %}
      <a href="{{ url_for('account.messages', page=pagination.next_num) }}">{{ _('Next Page') }}</a>
      {%- endif %}
    </ul>
  </div>
</div>
{%- endblock %}

{%- block scripts %}
<script>
  $(function() {
    $.ajax({
      url: '{{ url_for("account.mark_read") }}',
      type: 'PUT',
      data: {
        csrf_token: '{{ csrf_token() }}',
      },
      success: function(resp) {
        if (resp.success) {
          $('#msgContainer').fadeOut()
        }
      }
    })
  })
</script>
{%- endblock %}
