a
  color #333
  text-decoration none

#container
  margin 0 auto
  width 1280px

.navbar
  ul
    list-style none
    li
      display inline-block
      padding 3px 10px

table.accounts 
  text-align center
  td
    padding 3px 8px
