{%- extends 'layout.html' %}
{%- block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='components/normalize.css/normalize.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/master/index.css') }}" type="text/css" />

{%- endblock %}
{%- block main %}
<div class="mask"></div>
<div class="wrapper">
  <div class="logo" id="logo">iChaser</div>
  <div class="ask">毕业前必须做些什么？</div>
</div>
<div class="main">
  <div class="chasers" id="chasers"></div>
  <div class="pic-copyright"><a href="http://yiwenvision.lofter.com/post/19a2f6_54a29ee" target="_blank">图片来自 Yiwen</a></div>
</div>
<script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/master/index.js') }}"></script>
{%- endblock %}
