<!DOCTYPE html>
<html lang="zh"{%- block html %}{%- endblock %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ web_title or site_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ web_keyword or site_keyword }}" />
  <meta name="description" content="{{ web_description or site_description }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='components/normalize.css/normalize.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='components/tooltipster/css/tooltipster.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/master/base.css') }}" type="text/css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1423560719_836788.css" type="text/css" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
  {%- block static %}
  {%- endblock %}
</head>
<body>
  {%- block header %}
  <div class="mask display-hide"></div>
  <div class="setting display-hide mask-fadeOut" id="profile-setting">
    <div class="title">
      <a href="javascript:void(0)" class="cancelBtn pull-right">x</a>
      <span>{{ _('Settings') }}</span>
      <div class="avatar">
        <img src="{{ current_user.avatar_url }}" class="avatarImage" />
        <span class="edit"><a href="javascript:void(0)" data-csrf="{{ csrf_token() }}" id="avatarUploadBtn"><i class="iconfont icon-edit"></i></a></span>
      </div>
    </div>
    <div class="tabs">
      <a href="javascript:void(0)" data-tab="profile" class="tabBtn selected" style="float: left">{{ _('Profile') }}</a>
      <a href="javascript:void(0)" data-tab="password" class="tabBtn" style="float: right">{{ _('Change Password') }}</a>
    </div>
    <div class="tab-container" id="profile-tab">
      <form action="{{ url_for('account.profile') }}" id="profileForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <section>
          <label>{{ _('Email') }}</label>
          <input type="text" value="{{ current_user.email or '' }}" {% if current_user.email %} disabled="disabled"{% else %}name="email" id="email"{% endif %}/>
        </section>
        <section>
          <label>{{ _('Username') }}</label>
          <input type="text" value="{{ current_user.username }}" name="username" id="username" />
        </section>
        <section>
          <label>{{ _('Whats up') }}</label>
          <textarea name="whatsup" id="whatsup">{{ current_user.whatsup or '' }}</textarea>
        </section>
        <div class="msg-tips display-hide">{{ _('Successful') }}</div>
        <section class="btn-group">
          <button type="submit" class="btn btn-success">{{ _('Save') }}</button>
          <button type="button" class="btn cancelBtn">{{ _('Cancel') }}</button>
        </section>
      </form>
    </div>
    <div class="tab-container display-hide" id="password-tab">
      <form id="passwordForm" action="{{ url_for('account.password') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% if current_user.hashed_password %}
         <section>
          <label>{{ _('Old Password') }}</label>
          <input type="password" value="" name="old_password" id="old_password" />
        </section>
        {% endif %}
        <section>
          <label>{{ _('New Password') }}</label>
          <input type="password" value="" name="new_password" id="new_password" />
        </section>
        <section>
          <label>{{ _('Confirm Password') }}</label>
          <input type="password" value="" name="confirm_password" id="confirm_password" />
        </section>
        <div class="msg-tips display-hide">{{ _('Successful') }}</div>
        <section class="btn-group">
          <button type="submit" class="btn btn-success">{{ _('Save') }}</button>
          <button type="button" class="btn cancelBtn">{{ _('Cancel') }}</button>
        </section>
      </form>
    </div>
  </div>
  <div id="header">
    <div class="container">
      <a href="{{ url_for('master.index') }}" id="logo"></a>
      <div class="nav">
        <ul>
          <li class="my-goal"><a href="{{ url_for('goal.goals', uid=current_user.id) }}"><i class="iconfont icon-profile"></i>{{ _('My Goals') }}</a></li>
          <li class="chasers"><a href="{{ url_for('goal.chasers') }}"><i class="iconfont icon-chaser"></i>{{ _('Chasers') }}</a></li>
          <li class="goals"><a href="{{ url_for('goal.dreams_wall') }}"><i class="iconfont icon-dream"></i>{{ _('Dreams Wall') }}</a></li>
        </ul>
      </div>
      <div class="profile">
        {%- if current_user.unread_notifications %}
        <div class="msgContainer" id="msgContainer">
          您有 {{ current_user.unread_notifications | length }} 条新消息，
          <a href="{{ url_for('account.messages') }}">点击查看</a>
          <a href="javascript:void(0)" class="closeBtn">x</a>
        </div>
        {% endif %}
        <ul>
          <li><a href="javascript:void(0)" id="openSettingBtn"><i class="iconfont icon-setting"></i> {{ _('Settings') }}</a></li>
          <li><a href="{{ url_for('account.messages') }}"><i class="iconfont icon-msg"></i> {{ _('Messages') }} {% if current_user.unread_notifications %}<span class="unread-tips">{{ current_user.unread_notifications | length }}</span>{% endif %}</a></li>
          <li><a href="{{ url_for('account.signout') }}"><i class="iconfont icon-signout"></i> {{ _('Signout') }}</a></li>
        </ul>
        <div class="avatar">
          <img src="{{ current_user.avatar_url }}" class="avatarImage" />
        </div>
        <div class="info">
          {{ current_user.username }}
          <i class="iconfont icon-small icon-unfold"></i>
        </div>
      </div>
    </div>
  </div>
  {%- endblock %}
  {%- block main %}
  {%- endblock %}
  {%- block footer %}
  <div id="footer">
    <div class="copyright">
      <p>&copy; 2015 iChaser 追者</p>
      <p>
        <ul class="nav">
          <li><a href="http://blog.ichaser.net/aboutus">{{ _('About Us') }}</a></li>
          <li><a href="http://weibo.com/ichaser">{{ _('Weibo') }}</a></li>
          <li><a href="http://blog.ichaser.net/ourtips">{{ _('FAQ') }}</a></li>
          <li><a href="http://blog.ichaser.net/contact">{{ _('Contact Us') }}</a></li>
        </ul>
      </p>
    </div>
  </div>
  {%- endblock %}
  <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/jquery-form/jquery.form.js') }}"></script>
  <script src="{{ url_for('static', filename='components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/tooltipster/js/jquery.tooltipster.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/plupload/js/plupload.full.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/qiniu-js-sdk/src/qiniu.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/master/global.js') }}"></script>
  {%- block scripts %}
  {%- endblock %}
  {%- include 'inc/analytics.html' %}
</body>
</html>
