<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ web_title or site_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ web_keyword or site_keyword }}" />
  <meta name="description" content="{{ web_description or site_description }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='components/normalize.css/normalize.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/master/base.css') }}" type="text/css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1422266310_59763.css" type="text/css" />
  {%- block static %}
  {%- endblock %}
</head>
<body>
  {%- block main %}
  {%- endblock %}
  {%- block script %}
  {%- endblock %}
  {%- include 'inc/analytics.html' %}
</body>
</html>
