{% extends 'dashboard/base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="table-container">
  <table class="accounts">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Username') }}</th>
        <th>{{ _('Gender') }}</th>
        <th>{{ _('SignUp') }}</th>
        <th>{{ _('Last Signin') }}</th>
        <th>{{ _('Operations') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
      <tr>
        <td>{{ account.id }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.username }}</td>
        <td>{{ account.is_male | gender }}</td>
        <td>{{ account.created | format_datetime('Y-M-d HH:mm:SS') }}</td>
        <td>{{ account.last_signin | format_datetime('Y-M-d HH:mm:SS') }}</td>
        <td>
          <a href="{{ url_for('dashboard.account', uid=account.id) }}">{{ _('Edit') }}</a>
          <a href="#">{{ _('Delete') }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
