{% extends 'dashboard/base.html' %}

{% block title %}{{ _('Account Manage') }}{% endblock %}

{% block content %}
<div class="table-container">
  <table class="accounts">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Username') }}</th>
        <th>{{ _('Gender') }}</th>
        <th>{{ _('Credit') }}</th>
        <th>{{ _('SignUp') }}</th>
        <th>{{ _('Last Signin') }}</th>
        <th>{{ _('Operations') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for account in pagination.items %}
      <tr>
        <td>{{ account.id }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.username }}</td>
        <td>{{ account.gender }}</td>
        <td>{{ account.credit }}</td>
        <td>{{ account.created | format_datetime('Y-M-d HH:mm:SS') }}</td>
        <td>{{ account.last_signin | format_datetime('Y-M-d HH:mm:SS') }}</td>
        <td>
          <a href="{{ url_for('dashboard.account', uid=account.id) }}" class="btn btn-info">{{ _('Edit') }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ paginator.render(pagination, 'dashboard.accounts') | safe }}
</div>
{% endblock %}
