{% extends 'dashboard/base.html' %}

{% block title %}{{ _('Activity Manage') }}{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div id="info-container" class="info-bar" style="display: none"></div>
<div class="form-container">
  <form action="{{ url_for('dashboard.activity', aid=activity.id) }}" id="activityEditForm">
    {{ form.csrf_token }}
    <section>
      <label>{{ _('Goal') }}</label>
      <span class="field-content">{{ activity.goal.title }}</span>
    </section>
    <section>
      <label>{{ _('Author') }}</label>
      <span class="field-content">
        {{ activity.goal.author.username }}
      </span>
    </section>
    <section>
      <label>{{ _('Created At') }}</label>
      <span class="field-content">
        {{ activity.created | format_datetime('Y-M-d HH:mm:SS') }}
      </span>
    </section>
    <section>
      <label>{{ _('Activity') }}</label>
      <span>
        <textarea disabled="disabled">{{ activity.activity }}</textarea>
      </span>
    </section>
    <section>
      <label>{{ _('Image') }}</label>
      <span class="image-content">
        <img src="{{ activity.image.file_url }}" width="500" />
      </span>
    </section>
    <section>
      {{ form.is_deleted.label }}
      {{ form.is_deleted() }}
    </section>
    <section class="btn-group">
      <button type="submit" class="btn btn-lg btn-success">{{ _('Submit') }}</button>
      <a href="{{ url_for('dashboard.activities') }}" class="btn btn-lg">Cancel</a>
    </section>
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/dashboard/activity.js') }}"></script>
{% endblock %}
