<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>iChaser - dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/normalize.css/normalize.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='components/tooltipster/css/tooltipster.css') }}" type="text/css" />
    {% block styles %}{% endblock %}
  </head>
  <body>

    <div class="container">
      <div class="header">
        <h1>iChaser Dashboard</h1>
        <div class="pull-right nav">
          <span class="current-user">{{ current_user.username }}</span>
          <a href="{{ url_for('master.index') }}">Sign Out</a>
        </div>
      </div>

      <div class="main">
        {% block main %}
        <div class="pull-left menu">
          <ul class="nav">
            <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
            <li><a href="{{ url_for('dashboard.accounts') }}">Accounts</a></li>
            <li><a href="{{ url_for('dashboard.goals') }}">Goals</a></li>
            <li><a href="{{ url_for('dashboard.goals') }}">Activities</a></li>
          </ul>
        </div>
        <div class="content">
          <h2 class="title">
            {%- block title %}{%- endblock %}
          </h2>
          {%- block content %}{%- endblock %}
        </div>
        {% endblock %}
      </div>

      <div class="footer">
        iChasers &copy; 2015
      </div>
    </div>

  <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/jquery-form/jquery.form.js') }}"></script>
  <script src="{{ url_for('static', filename='components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/tooltipster/js/jquery.tooltipster.min.js') }}"></script>
  {%- block scripts %}{%- endblock %}
  </body>
</html>
