{% extends 'dashboard/base.html' %}

{% block title %}{{ _('Chasers Ranking Manage') }}{% endblock %}

{% block content %}
<div class="table-container">
  <table class="chasers">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Username') }}</th>
        <th>{{ _('Score') }}</th>
        <th>{{ _('Ranking') }}</th>
        <th>{{ _('Operations') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for chaser in pagination.items %}
      <tr>
        <td>{{ chaser.id }}</td>
        <td>{{ chaser.email }}</td>
        <td>{{ chaser.username }}</td>
        <td>{{ chaser.cached_total_score() }}</td>
        <td>{{ loop.index }}</td>
        <td>
          <a href="javascript:void(0)" id="unban-btn" data-id="{{ chaser.id }}" href-url="{{ url_for('dashboard.chasers_ban', aid=chaser.id) }}" class="btn btn-info" {%- if not chaser.is_ban %}style="display: none;"{%- endif %}>{{ _('Unban') }}</a>
          <a href="javascript:void(0)" id="ban-btn" data-id="{{ chaser.id }}" href-url="{{ url_for('dashboard.chasers_ban', aid=chaser.id) }}" class="btn btn-danger" {%- if chaser.is_ban %}style="display: none;"{%- endif %}>{{ _('Ban') }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ paginator.render(pagination, 'dashboard.chasers') | safe }}
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/dashboard/chasers.js') }}"></script>
{% endblock %}
