{% extends 'dashboard/base.html' %}

{% block title %}{{ _('Goal Manage') }}{% endblock %}

{% block content %}
<div class="table-container">
  <table class="goals">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{ _('Title') }}</th>
        <th>{{ _('Author') }}</th>
        <th>{{ _('Added At') }}</th>
        <th>{{ _('Lasted Activity') }}</th>
        <th>{{ _('Operations') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for goal in pagination.items %}
      <tr>
        <td>{{ goal.id }}</td>
        <td>{{ goal.title }}</td>
        <td>{{ goal.author.username }}</td>
        <td>{{ goal.created | format_datetime('Y-M-d HH:mm:SS') }}</td>
        <td>{{ goal.last_activity | format_datetime('Y-M-d HH:mm:SS') }}</td>
        <td><a href="{{ url_for('dashboard.goal', gid=goal.id) }}" class="btn btn-info">Detail</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ paginator.render(pagination, 'dashboard.goals') | safe }}
</div>
{% endblock %}
