@import 'mixin'

.iconfont:before
  font-size 32px

.iconfont.icon-small:before
  font-size 16px

body
  background #eee

a
  color #fff
  text-decoration none

ul, li
  margin 0
  padding 0
  list-style none

.pull-left
  float left

.pull-right
  float right

input, textarea
  width 100%
  padding 10px
  font-size 16px
  border 1px solid #ddd
  box-sizing border-box
  border-radius 4px

.display-hide
  display none

#msgContainer
  transition-duration 0.25s
  position absolute
  font-size 14px
  color #333
  background #fff
  top 45px
  right 60px
  line-height 20px
  padding 10px 18px
  box-shadow 2px 2px 6px #999
  a
    color #333
  a.closeBtn
    padding-left 20px;
  &:hover
    opacity 1!important

#header
  width 100%
  height 50px
  white-space nowrap
  background-color #333538

  #logo
    display block
    float left
    width 240px
    height 60px
    background #0dadb7 no-repeat
    background-image url(/static/images/logo.png)
    background-size 90% 75%
    background-position center center

  .nav
    margin-left 20px
    display inline-block
    li
      display inline-block
      a
        display block
        color #fff
        padding 0px 30px
        height 45px
        line-height 45px

      &:hover
        border-bottom #0dadb7 5px solid;

  .profile
    position relative
    color #fff
    float right
    line-height 40px
    margin-right 100px
    &:not(#msgContainer):hover div#msgContainer
      opacity 0
   .avatar
      display inline-block
      float left
      line-height 46px
      img
        width 35px
        height 35px
        border-radius 35px
        vertical-align middle
    .info
      float left
      line-height 50px
      padding 0 10px
      &:hover ul
        opacity 1
        display block
      ul
        transition-duration 0.25s
        opacity 0
        display none
        padding 10px 0
        position absolute
        background-color #333538
        z-index 9999
        li a
          display block
          width 130px
          height 40px
          line-height 30px
          padding 0 20px
          background-color #333538
          transition-duration 0.25s
          &:hover
            cursor pointer
            background-color #686E76

#footer
  position fixed
  right 10px
  bottom 0px
  color #666
  margin 0 auto
  font-size 13px
  text-align right
  ul.nav
    overflow hidden
    margin 0 auto
    text-align center
    li
      display inline-block
      &:after
        content: '|'
      &:last-child:after
        content: ''
      a
        color #666

.main
  overflow hidden
  padding-bottom 80px

.btn-group.center
  text-align center
  margin 0 auto

.btn
  color #fff
  border none
  font-size 14px
  padding 12px 30px
  border-radius 3px
  display inline-block
  background #ababab
  &[disabled]
    color #eee
.btn-success
  background #0dadb7
  &[disabled]
    color #999
    background #0d8d97
