border-radius(radius) 
  -webkit-border-radius radius
  -moz-border-radius radius
  -ms-border-radius radius
  -o-border-radius radius
  border-radius radius

transform(style)
  -webkit-transform style
  -moz-transform style
  -ms-transform style
  -o-transform style
  transform style

box-shadow-func(a b c color)
 -webkit-box-shadow a b c color
 -moz-box-shadow a b c color
 -ms-box-shadow a b c color
 -o-box-shadow a b c color
 box-shadow a b c color
