<!doctype html>
<html>
  <head>
    <title>chaser</title>
  </head>
  <body>
    <div id="container">
      <form id="createGoalForm" name="createGoalForm" action="{{ url_for('goal.create') }}" method="POST">
        {{ form.csrf_token }}
        <section>
        {{ form.title.label }}
        {{ form.title() }}
        </section>
        <section>
        {{ form.description.label }}
        {{ form.description() }}
        </section>
        <section>
        {{ form.image_url(style="display:none") }}
        <button type="button" id="upbtn">上传</button>
        <img src="" id="preview" width="500" />
        </section>
        <button type="button" onclick="upload()">{{ _('Create') }}</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='components/plupload/js/plupload.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/js-sdk/src/qiniu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/goal/create.js')}}"></script>
  </body>
</html>
