<!doctype html>
<html>
  <head>
    <title>chaser</title>
    <script src="{{ url_for('static', filename='components/plupload/js/moxie.js') }}"></script>
    <script src="{{ url_for('static', filename='components/plupload/js/plupload.dev.js') }}"></script>
    <script src="{{ url_for('static', filename='components/js-sdk/src/qiniu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/master/upload.js')}}"></script>
  </head>
  <body>
    <div id="container">
      <form id="createGoalForm" action="{{ url_for('goal.create') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.title.label }}
        {{ form.title() }}
        {{ form.description.label }}
        {{ form.description() }}
        <button id="upload_btn" type="button">upload</button>
        {{ form.image.label }}
        {{ form.image() }}
        <button>{{ _('Create') }}</button>
      </form>
    </div>
    <script>
      var upload = get_uploader('upload_btn');
    </script>
  </body>
</html>

