{%- extends 'layout.html' %}

{%- block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/goal/goals.css') }}" type="text/css" />
{%- endblock %}

{%- block main %}
<div class="main" id="dreams-wall">
  <div class="wrapper">
    <ul>
      {% for each in goals %}
      <li class="cards-container normal-card" style="background-image: url('{{each.image.get_thumbnail_limit_width(250)}}');background-color: #fff">
        <a class="card" href="{{ url_for('goal.view_goal', uid=each.author.id, gid=each.id) }}">
          <div class="card-title">{{ each.title }}</div>
          <div class="card-author"><img src="{{ each.author.avatar_url }}" class="avatar" /> {{ each.author.username }}</div>
          <div class="card-like"><i class="iconfont icon-small icon-xiai {% if each.is_like_by(current_user) %}liked {% endif %}"></i> {{ each.like_count }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%- endblock %}

{%- block scripts %}
{%- endblock %}
