{%- extends 'layout.html' %}

{%- block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='components/tooltipster/css/tooltipster.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/goal/goals.css') }}" type="text/css" />
{%- endblock %}

{%- block main %}
<div class="main" id="account-goal">
  <div class="goal">
    <div class="banner-image" style="background-image: url('{{ goal.image.get_thumbnail_limit_width(350) }}')">
      <span class="avatar" style="background-image: url('{{ goal.author.avatar_url }}')"></span>
    </div>
    <div class="goal-info">
      <div class="title">{{ goal.title }}</div>
      <div class="state-like">
        <span class="state">{{ goal.display_state() }}</span>
        <span class="like">
          <a href="javascript:void(0)" id="likeBtn"
             data-url="{{ url_for('goal.like', gid=goal.id) }}"
             {% if goal.is_like_by(current_user) %}data-status="liked"{% else %}data-status="unlike"{% endif %}>
             <i class="iconfont icon-small icon-xiai {% if goal.is_like_by(current_user) %}liked {% endif %}"></i>
          </a>
          <span id="likeCount">{{ goal.like_count }}</span>
        </span>
      </div>
      <div class="goal-description">
        {{ goal.description }}
      </div>
      <div class="btn-group center">
        {% if goal.is_doing() and goal.is_belong_to(current_user) %}
        <a href="javascript:void(0)" id="completeBtn" data-url="{{ url_for('goal.complete', gid=goal.id) }}" class="btn btn-success">{{ _('Complete it') }}</a>
        <a href="javascript:void(0)" id="giveUpBtn" data-url="{{ url_for('goal.cancel', gid=goal.id) }}" class="btn">{{ _('Give up') }}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="activity-container">
    {% if goal.is_doing() and goal.is_belong_to(current_user) %}
    <div class="create-activity" id="create-activity">
      <form action="{{ url_for('goal.activity', gid=goal.id) }}" method="POST" id="createActivityForm">
        {{ form.csrf_token }}
        {{ form.activity() }}
        {{ form.image_url(style="display:none") }}
        {{ form.image_name(style="display:none") }}
        <div class="tool">
          <a href="javascript:void(0);" id="upImage">图片</a>
          <span><img src="" id="preview" /></span>
          <button type="button" onclick="updateAvtivity()" id="submitBtn" class="btn btn-success pull-right">{{ _('Publish') }}</button>
        </div>
      </form>
    </div>
    {% endif %}
    <div class="activities" id="activities">
      {% for each in activities %}
      <div class="activity">
        {{ each.activity }} 
        {% if each.image %}
        <div class="activity-image">
          <img src="{{ each.image.get_thumbnail(150, 150) }}" />
        </div>
        {% endif %}
        <div class="activity-time">{{ each.created | friendly_time('Y年M月d日 HH:mm') }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%- endblock %}

{%- block scripts %}
<script src="{{ url_for('static', filename='components/plupload/js/plupload.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='components/qiniu-js-sdk/src/qiniu.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/goal/activity.js')}}"></script>
{%- endblock %}
